* text=auto eol=lf

.editorconfig text diff=ini
.globalconfig text diff=ini
*.md text diff=markdown
*.cs text diff=csharp

**/*.lock.json linguist-generated=true merge=ours
**/*-lock.json linguist-generated=true merge=ours
